.text-field{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #F99D78;
    -fx-font-size: 18px;
}
.label {
    -fx-text-fill: #D2B48C;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 22px;
}
.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #CD853F 0%, #A0522D 100%),
            #A0522D,
            #FFF8DC,
            radial-gradient(center 50% 50%, radius 100%, #FFF8DC, #FFFACD);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #8B4513;
}
.button:hover{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #CD853F 0%, #A0522D 100%),
            #A0522D,
            #FFF8DC,
            radial-gradient(center 50% 50%, radius 100%, #FFF8DC, #FFFACD);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.date-picker-popup > .month-year-pane {
    -fx-padding: 4;
    -fx-background-color: #EFEFEF;
}

.date-picker-popup > * > .date-cell {
    -fx-background-color: #A0522D;
    -fx-text-fill: #FFF8DC;
    -fx-background-insets: 1, 2;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.916667em;
}

.date-picker-popup > * > .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: -fx-control-inner-background;
    -fx-border-width: 1px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-accent;
}
.date-picker-popup > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: #A0522D;
    -fx-border-width: 1px;
    -fx-font-size: 1em;
    -fx-background: #FFEBCD;
    -fx-background-color: -fx-background;
    -fx-text-fill: #2F4F4F;
}
.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 */
    -fx-cell-size: 2.75em;
}
.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-fill: #F99D78;
}
.date-picker-popup > * > .today {
    -fx-background-color: #D2B48C;
    -fx-background-insets: 1, 2, 3;
}
.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: #F4A460;
}
.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    -fx-background: #C0C0C0;
}

.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
    -fx-background-color: #F99D78;
    -fx-background-insets: 1, 2, 3;
}
.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: #F99D78;
}
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background: #FFFAFA;
}